html,body{width:100%;height:100%;padding:0;
		background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 49%,#E5E5E5 100%);
		margin:0;font-family:arial
}

#mainView{
	position:relative;
	width:40%;
}

.overlay {
    position:fixed;
    display:none;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:#272727;
    opacity:0.8;
    z-index:1000;
}

/* 프로젝트 생성 버튼 및 box 설정  */

#createProject { 
    display:inline-block;
    border:2px solid #899caa; 
    border-radius:30px;
    -moz-border-radius:3px;
    position:relative;
    z-index:30;
    cursor:pointer;    
    width: 108px;
    height: 52px;
}

/* create Button Text */
#createProject span {
    color:#445058; 
    font-size:10px; 
    font-weight:bold; 
    text-shadow:1px 1px #fff; 
    padding:7px 29px 9px 10px;
    display:block
}

#createProject:hover {
    background:black;
}

#createProjectBox {
    position:relative;
    width:100px;
    height:100px;
    display:none;
    z-index:29;
}

#createProjectPop{
   z-index:20; 
   display:none; 
   border-radius:20px;
   
   position:fixed; 
   text-align: center;
   left: 50%;
   top: 50%;
   width:500px; 
   height:370px;
   margin: -185px 0 0 -250px;
 
   background:#ffffff;
   border:5px solid #9B2626;
   z-index: 1001;
}



/* 프로젝트 조인 버튼*/
#joinProject { 
    display:inline-block;
    border:2px solid #899caa; 
    border-radius:30px;
    -moz-border-radius:3px;
    position:relative;
    z-index:30;
    cursor:pointer;    
    width: 108px;
    height: 52px;    
}
#joinProject span {
    color:#445058; 
    font-size:10px; 
    font-weight:bold; 
    text-shadow:1px 1px #fff; 
    padding:7px 29px 9px 10px;
    display:block
}

#joinProject:hover {
    background:black;
}

#joinProjectBox {
    position:relative;
    width:100px;
    height:100px;
    display:none;
    z-index:29;
}

#joinProjectPop{   
   z-index:20; 
   display:none; 
   border-radius:20px;
   
   position:fixed; 
   text-align: center;
   left: 50%;
   top: 50%;
   width:500px; 
   height:370px;
   margin: -185px 0 0 -250px;
 
   background:#ffffff;
   border:5px solid #9B2626;
   z-index: 1001;
}

#contents{
	position:relative;
	float:right;
	width:85%;
	height:1000px;	
}

#projectInformation{
	position:relative;
	float:left;
	width:73%;
	height:100%;	
}

#projectInfoChange{
	position:relative;
	float:right;
	width:25%;
	height:100%;
}

#userList{
	position:relative;
	float:right;
	width:100%;
	height:60%;	
}


