html,body{width:100%;height:100%;padding:0px;background:#ffffff; margin:0;font-family:arial}

#bar { position: fixed;top:0;top:0; width:100%; height:60px;  background:rgb(155, 38, 38); z-index: 1000;}


#mainView{
	position:relative;
	width:40%;
}

/* Login Container (default to float:right) */
#loginContainer {
    position:relative;
    width: 100%;
    height: 60px;
    padding-top: 9px;
}

/* Login Button */
#loginButton { 
    display:inline-block;
    float:right;
    background:rgba(241, 241, 241, 1); 
    border:2px dotted #585858;
    border-radius:40px;
    position:relative;
    z-index:30;
    cursor:pointer;
    right:145px;
    width: 84px;
    height: 40px;
    box-sizing: content-box;
}

/* Join Button */
#JoinButton { 
    display:inline-block;
    float:right;
    background:rgba(241, 241, 241, 1); 
    border:2px dotted #585858;
    border-radius:40px;
    position:relative;
    z-index:30;
    cursor:pointer;    
    right:-35px;
    width: 83px;
    height: 40px;
    box-sizing: content-box;    
}

/* Login Button Text */
#loginButton span {
    color:#445058; 
    font-size:18px; 
    font-weight:normal; 
    text-shadow:1px 1px #fff;
    padding:10px 0px 9px 8px;
    display:block
    
}
/* Join Button Text */
#JoinButton span {
    color:#445058; 
    font-size:18px; 
    font-weight:normal; 
    text-shadow:1px 1px #fff; 
    padding:10px 0px 1px 10px;
    display:block
}

#loginButton:hover {
    background:#ffffff;
}

#JoinButton:hover {
    background:#ffffff;
    }

/* Login Box */
#loginBox {
    position:absolute;
    top:65px;
    right:0;
    display:none;
    z-index:29;
}

/* Join Box */
#JoinBox {
    position:absolute;
    top:65px;
    right:0;
    display:none;
    z-index:29;
}

/* If the Login Button has been clicked */    
#loginButton.active {
    border-radius:14px;
}

#loginButton.active span {
    background-position:80px -66px;
}

/* If the Join Button has been clicked */    
#JoinButton.active {
    border-radius:14px;
}

#JoinButton.active span {
    background-position:80px -66px;
}

/* A Line added to overlap the border */
#loginButton.active em {
    position:absolute;
    width:100%;
    height:1px;
    background:#9B2626;
    bottom:-1px;
}

/* A Line added to overlap the border */
#JoinButton.active em {
    position:absolute;
    width:100%;
    height:1px;
    background:#9B2626;
    bottom:-1px;
}

/* Login Form */
#loginForm {
    width:248px; 
    border:1px solid #9B2626;
    border-radius:3px 0 3px 3px;
    -moz-border-radius:3px 0 3px 3px;
    margin-top:-1px;
    background:#9B2626;
    padding:6px;
}

#loginForm fieldset {
    margin:0 0 12px 0;
    display:block;
    border:0;
    padding:0;
}

fieldset#body {
    background:#fff;
    border-radius:3px;
    -moz-border-radius:3px;
    padding:10px 13px;
    margin:0;
}

#loginForm #checkbox {
    width:auto;
    margin:1px 9px 0 0;
    float:left;
    padding:0;
    border:0;
    *margin:-3px 9px 0 0; /* IE7 Fix */
}

#body label {
    color:#3a454d;
    margin:9px 0 0 0;
    display:block;
    float:left;
}

#loginForm #body fieldset label {
    display:block;
    float:none;
    margin:0 0 6px 0;
}

/* Default Input */
#loginForm input {
    width:92%;
    border:1px solid #9B2626;
    border-radius:3px;
    -moz-border-radius:3px;
    color:#3a454d;
    font-weight:bold;
    padding:8px 8px;
    box-shadow:inset 0px 1px 3px #bbb;
    -webkit-box-shadow:inset 0px 1px 3px #bbb;
    -moz-box-shadow:inset 0px 1px 3px #bbb;
    font-size:12px;
}

/* Sign In Button */
#loginForm #login{
    width:auto;
    float:left;
    background:#9B2626 url(../images/loginbuttonbg.png) repeat-x;
    color:#fff;
    padding:7px 10px 8px 10px;
    text-shadow:0px -1px #9B2626;
    border:1px solid #9B2626;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    margin:0 12px 0 0;
    cursor:pointer;
    *padding:7px 2px 8px 2px; /* IE7 Fix */
}

/* Join Form */
#JoinForm {
    width:248px; 
    border:1px solid #9B2626;
    border-radius:3px 0 3px 3px;
    -moz-border-radius:3px 0 3px 3px;
    margin-top:-1px;
    background:#9B2626;
    padding:6px;
}

#JoinForm fieldset {
    margin:0 0 12px 0;
    display:block;
    border:0;
    padding:0;
}

fieldset#body {
    background:#fff;
    border-radius:3px;
    -moz-border-radius:3px;
    padding:10px 13px;
    margin:0;
}

#JoinForm #checkbox {
    width:auto;
    margin:1px 9px 0 0;
    float:left;
    padding:0;
    border:0;
    *margin:-3px 9px 0 0; /* IE7 Fix */
}

#body label {
    color:#3a454d;
    margin:9px 0 0 0;
    display:block;
    float:left;
}

#JoinForm #body fieldset label {
    display:block;
    float:none;
    margin:0 0 6px 0;
}

/* Default Input */
#JoinForm input {
    width:92%;
    border:1px solid #9B2626;
    border-radius:3px;
    -moz-border-radius:3px;
    color:#3a454d;
    font-weight:bold;
    padding:8px 8px;
    box-shadow:inset 0px 1px 3px #bbb;
    -webkit-box-shadow:inset 0px 1px 3px #bbb;
    -moz-box-shadow:inset 0px 1px 3px #bbb;
    font-size:12px;
}

/* Sign In Button */
#JoinForm #Join{
    width:auto;
    float:left;
    background:#9B2626 url(../images/loginbuttonbg.png) repeat-x;
    color:#fff;
    padding:7px 10px 8px 10px;
    text-shadow:0px -1px #9B2626;
    border:1px solid #9B2626;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    margin:0 12px 0 0;
    cursor:pointer;
    *padding:7px 2px 8px 2px; /* IE7 Fix */
}

/* Sign In Button */
#JoinForm #resetSpan{
    width:auto;
    float:left;
    background:#9B2626 url(../images/loginbuttonbg.png) repeat-x;
    color:#fff;
    padding:7px 10px 8px 10px;
    text-shadow:0px -1px #9B2626;
    border:1px solid #9B2626;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    margin:0 12px 0 0;
    cursor:pointer;
    *padding:7px 2px 8px 2px; /* IE7 Fix */
}

/* leave Button */
#JoinForm #leave{
    width:auto;
    float:left;
    background:#9B2626 url(../images/loginbuttonbg.png) repeat-x;
    color:#fff;
    padding:7px 10px 8px 10px;
    text-shadow:0px -1px #9B2626;
    border:1px solid #9B2626;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    margin:0 12px 0 0;
    cursor:pointer;
    *padding:7px 2px 8px 2px; /* IE7 Fix */
}