* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body, html, p, h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", "Helvetica", serif;
  font-weight: normal; }

code {
  font-family: "Consolas", "Monaco", monospace;
  font-weight: normal; }

body, html, p, code {
  color: #888888; }

h1, h2, h3, h4, h5, h6 {
  color: #444444; }

pre {
  overflow: scroll;
  background: #eeeeee;
  padding: 10px; }

.content {
  width: 980px;
  margin: 80px auto; }

.formats .format {
  display: inline-block; }

.zip {
  background: url("../images/zip.png");
  display: block;
  width: 128px;
  height: 128px; }

.tar {
  background: url("../images/tar.png");
  display: block;
  width: 128px;
  height: 128px; }

.fork {
  position: absolute;
  top: 0;
  left: 0;
  border: 0; }

.basicBtn{
	display : inline;
	padding: 5px;
	color: white;
	background: gray;
	margin: 6px;
	text-align:center;
	border-radius:10px;
	text-decoration: none;
}

.basicJoinBtn{
	display : inline;
	padding: 5px;
	color: white;
	background: gray;
	margin: 6px;
	text-align:center;
	border-radius:10px;
	text-decoration: none;
}

.button {
  display: block;
  padding: 20px;
  width: 200px;
  color: white;
  background: #B7B7B7;
  margin: 20px 0;
  text-align: center;
  text-decoration: none;
  border-radius: 4px; }

pre .support.tag {
  color: #000088; }
pre .support.attribute {
  color: #880000; }
pre .string.value {
  color: #008800; }

.example {
  position: relative; }
  .example .brick {
    opacity: 1;
    cursor: pointer;
    position: relative;
    border-radius: 60px; }
    .example .brick .delete {
      display: block;
      color: white;
      background: rgba(255, 255, 255, 0.2);
      width: 40px;
      height: 40px;
      top: 0;
      right: 0;
      position: absolute;
      text-align: center;
      line-height: 40px; }
    .example .brick.small {
      width: 140px;
      height: 140px; }
    .example .brick.large {
      width: 300px;
      height: 300px; }
    .example .brick.dragging {
      opacity: 0.8; }
      
    .example .brick:nth-child(20n + 1) {
      background: rgb(161,180,238); }
    .example .brick:nth-child(20n + 2) {
      background: rgb(162,225,217); }
    .example .brick:nth-child(20n + 3) {
      background: rgb(179,214,190); }
    .example .brick:nth-child(20n + 4) {
      background: rgb(225,231,205); }
    .example .brick:nth-child(20n + 5) {
      background: rgb(241,218,246); }
    .example .brick:nth-child(20n + 6) {
      background: rgb(251,247,156); }
    .example .brick:nth-child(20n + 7) {
      background: rgb(247,238,243); }
    .example .brick:nth-child(20n + 8) {
      background: rgb(184,160,150); }
    .example .brick:nth-child(20n + 9) {
      background: rgb(160,205,198); }
    .example .brick:nth-child(20n + 10) {
      background: rgb(192,187,183); }
    .example .brick:nth-child(20n + 11) {
      background: rgb(157,198,166); }
    .example .brick:nth-child(20n + 12) {
      background: rgb(242,218,180); }
    .example .brick:nth-child(20n + 13) {
      background: rgb(159,203,242); }
    .example .brick:nth-child(20n + 14) {
      background: rgb(245,174,208); }
    .example .brick:nth-child(20n + 15) {
      background: rgb(216,222,218); }
    .example .brick:nth-child(20n + 16) {
      background: rgb(244,185,171); }
    .example .brick:nth-child(20n + 17) {
      background: rgb(201,207,223); }
    .example .brick:nth-child(20n + 18) {
      background: rgb(172,218,172); }
    .example .brick:nth-child(20n + 19) {
      background: rgb(211,201,165); }
    .example .brick:nth-child(20n + 20) {
      background: rgb(216,188,239); }
