<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="prog">
   <resultMap type="puBean" id="rmPuBean">
      <result column="UEMAIL" property="uemail" />
      <result column="UNAME" property="uname" />
      <result column="UPW" property="upw" />
      <result column="UPHONE" property="uphone" />
      <result column="UPROCNT" property="uprocnt" />
   </resultMap>
   
   <!-- 로그인 -->
   <select id="IdPwCheck" parameterType="puBean" resultMap="rmPuBean">
      select uemail, uname, upw, uphone, uprocnt from proguser where uemail=#{uemail} and upw=#{upw}
   </select>
   
   <!-- 회원가입 : 전화번호가 있는 경우 -->
   <insert id="signIn" parameterType="puBean">
      insert into proguser(uemail, uname, upw, uphone) values(#{uemail} , #{uname} , #{upw}, #{uphone})
   </insert>
   
   <!-- 이메일 중복 체크 -->   
   <select id="IdCheck" parameterType="java.lang.String" resultType="String" >
      select uemail from proguser where uemail=#{uemail}
   </select>
   
   <!-- 회원 정보 변경 -->
   <update id="update" parameterType="puBean">
      update proguser set upw=#{upw}, uname=#{uname}, uphone=#{uphone} where uemail=#{uemail}      
   </update>
   
   <!-- 회원 탈퇴 -->
   <delete id="delete" parameterType="puBean">
   	  delete from proguser where uemail=#{uemail} and upw=#{upw}
   </delete>
   
   <!-- 회원 정보 확인 -->
   <select id="userInfo" parameterType="java.lang.String" resultMap="rmPuBean">
      select uemail, uname, upw, uphone, uprocnt from proguser where uemail=#{uemail}
   </select>
   
   <!-- 모든 회원 정보 확인 -->
   <select id="allUsers" resultMap="rmPuBean">
      select uemail, uname, upw, uphone, uprocnt from proguser
   </select>

   
   <!-- 프로젝트용 쿼리문 -->
   <insert id="newProject" parameterType="projectBean">
      insert into Project values(seq_p.nextval, #{pname}, #{ppw}, #{pmento}, #{pstart}, #{pend}, #{pleader}, 0)
   </insert>
   
   <insert id="newParticipation" parameterType="UPBean">
      insert into UserProject values(#{up_uemail},#{up_pnum},0)
   </insert>
   
   <select id="SelectAllProject" parameterType="String" resultType="projectBean">
      select pnum, pname, pmento, pstart, pend, pleader from project, UserProject where UP_uemail=#{uemail} and UP_Pnum=Pnum  
   </select>
   
   <select id="getProjectNumber" resultType="int">
      select pnum from project where pname=#{pname} and ppw=#{ppw} and pstart=#{pstart} and pend=#{pend} and pleader=#{pleader}
   </select>
   
</mapper>






